<h1>Listing recipes</h1>
<p>
  Here are some delicious recipes! I hope you like food! There are no enchiladas though. Because Isaac is knows how to make enchiladas from a recipe he keeps in his brain. And Alex smells like fish-sauce.
</p>
<table>
  <tr>
    <th>-Name-</th>
    <th>- Description -</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.description %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
